html * {
   color: #000 !important;
   font-family: Arial !important;
}

.tabla_verbos {
    border: black solid 1px;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.tabla_resultados {
    border: black solid 1px;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}
